
ES-2023-2Sem-Terca-Feira-LEIPL-GrupoE/.idea/.name
ES-2023-2Sem-Terca-Feira-LEIPL-GrupoE/.idea/misc.xml
ES-2023-2Sem-Terca-Feira-LEIPL-GrupoE/.idea/vcs.xml
ES-2023-2Sem-Terca-Feira-LEIPL-GrupoE/.project
