.minha-classe-de-estilo {
    -fx-background-color: pink;
}

.week-view .minha-classe-de-estilo{
    -fx-background-color: pink;
}

.day-view .minha-classe-de-estilo{
    -fx-background-color: pink;
}

